@charset "utf-8";

body.dark{
	color: #b6b2bf;
	background-color: #3c3c3c;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6{
	color: #fff;
}
body.dark::-webkit-scrollbar {
  width: 11px;
}
body.dark{
  scrollbar-width: thin;
  scrollbar-color: #666 #3c3c3c;
}
body.dark:-webkit-scrollbar-track {
  background: #3c3c3c;
}
body.dark::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 6px;
  border: 3px solid #3c3c3c;
}
