@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;

$color_1: rgba(255, 255, 255, 0.3);
$color_2: rgba(255, 255, 255, 0.5);
$color_3: #fff;
$font-family_1:
  'Varela Round',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';
$color_red: #d71a20;

/* ALL CUSTOM */
.container {
  @include responsive.device-max('md') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.masthead {
  position: relative;
  height: 100vh;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 600px;
  padding: 260px 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 75%, #000 100%),
    url('../../../public/img/landing/amazon-truck-accident/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive.device-max('md') {
    min-height: unset;
    height: 85svh;
  }

  h1 {
    font-family: $font-family_1;
    font-size: 7vw;
    line-height: 0.9em;
    letter-spacing: 0.5rem;
    color: #ffffff;
    mask-image: linear-gradient(to bottom, white 85%, transparent);
    white-space: nowrap;

    background-clip: text;
    animation: slideIn 0.8s forwards;
    @include responsive.device-max('lg') {
      font-size: 6.5vw;
    }

    @include responsive.device-max('sm') {
      font-size: 7.7vw;
      white-space: unset;
      line-height: 1.1em;
    }
  }

  h2 {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    animation: slideIn 0.8s forwards;
    animation-delay: 0.3s;
    @include responsive.device-max('lg') {
      max-width: 350px;
      font-size: 18px;
    }
  }
}

.about-section {
  background: linear-gradient(to bottom, #000 40%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
  scroll-margin: 80px;
  .form-row {
    padding: 10px;
    scroll-margin: 100px;
    margin-bottom: 50px;
    position: relative;
    margin-top: -160px;
    @include responsive.device-max('lg') {
      margin-top: -120px;
    }
  }

  h2 {
    @include responsive.device-max('lg') {
      font-size: 23px;
    }
  }

  p {
    margin-bottom: 85px;
    @include responsive.device-max('lg') {
      font-size: 16px;
    }

    a {
      color: $color_red !important;
      border-bottom: 2px solid;
    }
  }
}

.projects-section {
  padding: 100px 0;
  @include responsive.device-max('md') {
    padding: 50px 0;
  }
  h2 {
    display: inline-block;
    @include responsive.device-max('md') {
      font-size: 24px;
    }
  }
  .featured-text {
    padding: 35px;

    @include responsive.device-max('md') {
      padding: 0 8px;
      text-align: center;
    }
  }
  .project-text {
    padding: 52.5px;
    font-size: 90%;
  }

  ul,
  ol {
    margin: 0;
    padding-left: 1.2rem;
    text-align: left;
    @include responsive.device-max('md') {
      padding-left: 0;
    }
    li {
      position: relative;
      list-style-type: none;
      padding-left: 35px;
      margin-bottom: 0.5rem;
      strong {
        color: $color_red;
      }
    }
  }

  ul li {
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -2px;
      width: 10px;
      height: 22px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: $color_red;
      transform-origin: bottom left;
      transform: rotate(45deg);
    }
  }

  ol {
    li {
      position: relative;
      padding-left: 30px; // Adjust padding to make space for the circle

      &::before {
        content: attr(data-number); // Use the value of the "data-number" attribute
        display: inline-block;
        position: absolute;
        left: -5px;
        top: 2px;
        width: 28px;
        height: 28px;
        line-height: 1.5em; // Vertically center the number inside the circle
        text-align: center;
        border-radius: 50%; 
        background-color: $color_red;
        color: #fff;
        font-weight: bold; 
        font-size: 18px;
      }
    }
  }
}

.faq {
  padding: 100px 0;
  @include responsive.device-max('md') {
    padding: 50px 0;
  }
  svg {
    color: $color_red !important;
    width: 50px;
    max-height: 50px;
    height: auto;
  }
}
.contact-section {
  padding-top: 87.5px;
  .card {
    border: 0;
    border-bottom: 4.375px solid $color_red;
    h4 {
      font-size: 14px;
      font-family: $font-family_1;
      text-transform: uppercase;
      letter-spacing: 2.625px;
    }
    .h4 {
      font-size: 14px;
      font-family: $font-family_1;
      text-transform: uppercase;
      letter-spacing: 2.625px;
    }
    hr {
      opacity: 1;
      border-color: $color_red;
      border-width: 4.375px;
      width: 52.5px;
    }

    a {
      color: $color_red;
      font-size: 16px;
    }

    svg {
      color: $color_red !important;
      width: 50px;
      max-height: 50px;
      height: auto;
    }
  }
  .social {
    margin-top: 87.5px;
    a {
      text-align: center;
      height: 52.5px;
      width: 52.5px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      line-height: 52.5px;
      color: $color_1;
      &:hover {
        color: $color_2;
      }
      &:active {
        color: $color_3;
      }
    }
  }
}

.footer {
  padding: 87.5px 0;
  a {
    color: $color_red;
  }
}

.button {
  @include button.mainButton();

  svg {
    transform: scale(1.4);
    margin-left: 8px;
    margin-bottom: 5px;
  }
}

.animate-slide-in {
  transform: translateY(100%);
  animation: slideIn 0.8s forwards;
  animation-delay: 1s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
