@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;

$color_red: #d71a20;

.container {
  @include responsive.device-max('md') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.footer {
  padding: 87.5px 0;
  a {
    color: $color_red;
  }
}
