@use '/styles/responsive/_devicesMixins.scss' as responsive;

$color_1: rgba(255, 255, 255, 0.3);
$color_2: rgba(255, 255, 255, 0.5);
$color_3: #fff;
$font-family_1:
  'Varela Round',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';
$color_red: #d71a20;

/* ALL CUSTOM */
.masthead {
  position: relative;
  height: 100vh;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 600px;
  padding: 260px 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 75%, #000 100%),
    url('../../../public/img/landing/car-accident/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  @include responsive.device-max('md') {
    min-height: unset;
    height: 100dvh;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h1 {
    font-family: $font-family_1;
    font-size: 140px;
    line-height: 0.9em;
    letter-spacing: 0.5rem;
    color: #fff;
    mask-image: linear-gradient(to bottom, white 60%, transparent);
    background-clip: text;
    animation: slideIn 0.8s forwards;
    @include responsive.device-max('lg') {
      font-size: 41px;
      letter-spacing: 0.5rem;
    }
  }

  h2 {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    animation: slideIn 0.8s forwards;
    animation-delay: 0.3s;
    @include responsive.device-max('lg') {
      max-width: 350px;
      font-size: 18px;
    }
  }
}

.about-section {
  .form-row {
    padding: 10px;
    scroll-margin: 100px;
    margin-bottom: 50px;
    position: relative;
    margin-top: -100px;
  }

  background: linear-gradient(to bottom, #000 40%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);

  h2 {
    @include responsive.device-max('lg') {
      font-size: 24px;
    }
  }

  p {
    margin-bottom: 85px;
    @include responsive.device-max('lg') {
      font-size: 16px;
    }
  }
}

.projects-section {
  padding: 100px 0;
  @include responsive.device-max('md') {
      padding: 50px 0;
    }
  h2 {
    display: inline-block;
    @include responsive.device-max('md') {
      font-size: 24px;
    }
  }
  .featured-text {
    padding: 35px;
    
    @include responsive.device-max('md') {
      padding: 0 8px;
      text-align: center;
    }
  }
  .project-text {
    padding: 52.5px;
    font-size: 90%;
  }

  ul {
    margin: 0;
    padding-left: 1.2rem;
    text-align: left;
    li {
      position: relative;
      list-style-type: none;
      padding-left: 35px;
      margin-bottom: 0.5rem;
      strong {
        color: $color_red;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
        width: 10px;
        height: 22px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: $color_red;
        transform-origin: bottom left;
        transform: rotate(45deg);
      }
    }
  }
}

.faq {
  padding: 100px 0;
  @include responsive.device-max('md') {
      padding: 50px 0
  }
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  svg {
    color: $color_red !important;
    width: 50px;
    max-height: 50px;
    height: auto;
  }
}
.contact-section {
  padding-top: 87.5px;
  .card {
    border: 0;
    border-bottom: 4.375px solid $color_red;
    h4 {
      font-size: 14px;
      font-family: $font-family_1;
      text-transform: uppercase;
      letter-spacing: 2.625px;
    }
    .h4 {
      font-size: 14px;
      font-family: $font-family_1;
      text-transform: uppercase;
      letter-spacing: 2.625px;
    }
    hr {
      opacity: 1;
      border-color: $color_red;
      border-width: 4.375px;
      width: 52.5px;
    }

    a {
      color: $color_red;
      font-size: 16px;
    }

    svg {
      color: $color_red !important;
      width: 50px;
      max-height: 50px;
      height: auto;
    }
  }
  .social {
    margin-top: 87.5px;
    a {
      text-align: center;
      height: 52.5px;
      width: 52.5px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      line-height: 52.5px;
      color: $color_1;
      &:hover {
        color: $color_2;
      }
      &:active {
        color: $color_3;
      }
    }
  }
}

.footer {
  padding: 87.5px 0;
}


.button {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  display: inline-block;
  background-color: $color_red;
  padding: 15px 40px;
  border-radius: 6px;
  border: 2px solid $color_red;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  position: relative;

  svg {
    transform: scale(1.4);
    margin-left: 8px;
    margin-bottom: 5px;
  }

  @include responsive.device-max('sm') {
    font-size: 16px;
  }

  &:hover,
  &:active,
  &:focus-visible {
    background-color: #d71a204f !important;
    border-color: #d71a20 !important;
  }

  &:focus {
    outline: 1px dashed #fff;
    outline-offset: 3px;
  }
}

.form-signup {
  input,
  textarea {
    box-shadow: 0 3.28px 3.28px 0 rgba(0, 0, 0, 0.1) !important;
    padding: 20px !important;
    height: auto;
    font-family: $font-family_1;
    font-size: 80%;
    letter-spacing: 2.625px;
    border: 0;
    border-radius: 8px;
  }

  .disclaimer {
    font-size: 12px;
    display: block;
    max-width: 47%;
    text-align: center;
    margin: 8px auto;
    color: #ffffffaf;
    @include responsive.device-max('sm') {
      max-width: 100%;
    }
  }
}

.animate-slide-in {
  transform: translateY(100%);
  animation: slideIn 0.8s forwards;
  animation-delay: 1s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
