@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;

$color_1: rgba(255, 255, 255, 0.3);
$color_2: rgba(255, 255, 255, 0.5);
$color_3: #fff;
$font-family_1: Roboto, 'Helvetica Neue';
$color_red: #d71a20;

/* ALL CUSTOM */
.container {
  @include responsive.device-max('md') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.masthead {
  position: relative;
  height: 100vh;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 600px;
  padding: 260px 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 75%, #000 100%),
    url('../../../../public/img/landing/uber-accident/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive.device-max('md') {
    min-height: unset;
    height: 65svh;
    background-position: 50%;
  }

  h1 {
    font-family: $font-family_1;
    font-size: 6.5vw;
    line-height: 0.9em;
    letter-spacing: 0.5rem;
    color: #ffffff;
    mask-image: linear-gradient(to bottom, white 90%, transparent);
    white-space: nowrap;

    background-clip: text;
    animation: slideIn 0.8s forwards;

    @include responsive.device-max('sm') {
      font-size: 7.2vw;
      white-space: unset;
      line-height: 1.1em;
    }
  }

  h2 {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    animation: slideIn 0.8s forwards;
    animation-delay: 0.3s;
    @include responsive.device-max('lg') {
      font-size: 18px;
    }
  }
}

.about-section {
  background: linear-gradient(to bottom, #000 40%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
  scroll-margin: 80px;
  .form-row {
    padding: 10px;
    scroll-margin: 100px;
    margin-bottom: 50px;
    position: relative;
    margin-top: -160px;
    @include responsive.device-max('lg') {
      margin-top: -120px;
    }
  }

  h2 {
    @include responsive.device-max('lg') {
      font-size: 24px;
    }
  }

  p {
    margin-bottom: 85px;
    @include responsive.device-max('lg') {
      font-size: 16px;
    }

    a {
      color: $color_red !important;
      border-bottom: 2px solid;
      display: inline-block;
    }
  }
}

.button {
  @include button.mainButton();

  svg {
    transform: scale(1.4);
    margin-left: 8px;
    margin-bottom: 5px;
  }
}

.animate-slide-in {
  transform: translateY(100%);
  animation: slideIn 0.8s forwards;
  animation-delay: 1s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}