.layout {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}

.layout,
.layout * {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.layout[data-magic-cursor='hide'] {
  :global(.mouse-cursor) {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111;
  }
}
