@use '/styles/responsive/_devicesMixins.scss' as responsive;

$color_dark: #15111e;
$color_white: #fff;

.section {
  background-color: $color_dark;

  .container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include responsive.device-max('md') {
      padding: 50px 16px;
    }
  }

  &.header {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%, #000 100%),
      url('../..//public/img/hero/hero.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    @include responsive.device-max('md') {
      background-attachment: unset;
      background-size: cover;
      background-position: 35%;
    }
    .row {
      height: 500px;
      justify-content: center;
      align-items: center;
      text-align: center;
      h1 {
        color: $color_white;
        text-transform: uppercase;
        font-size: 60px;
        text-shadow: 3px 3px 3px #000;
        @include responsive.device-max('lg') {
          font-size: 40px;
        }

        @include responsive.device-max('sm') {
          font-size: 30px;
        }
      }

      p {
        color: $color_white;
      }
    }
  }

  &.content {
    background-color: #f4f5fe;
    position: relative;
    .row {
      min-height: 45vh;
      align-items: center;
    }

    h3 {
      @include responsive.device-max('md') {
        font-size: 22px;
      }
    }

    p {
      margin-bottom: 16px;
      color: $color_dark;
      font-size: 18px;
      line-height: 2.6rem;

      strong,
      a {
        color: #d71a20;
      }
    }

    p + h3,
    ul + h3 {
      margin-top: 24px;
    }

    ul {
      margin-left: 36px;
      li {
        font-size: 16px;
        list-style-type: circle;
        &::marker {
          color: #d71a20;
        }
      }
    }
  }
}
