@use '/styles/responsive/_devicesMixins.scss' as responsive;

$color_dark: #15111e;
$color_white: #fff;
$header_height: 40vh;

.section {
  background-color: $color_dark;

  .container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include responsive.device-max('md') {
      padding: 0 20px;
    }
  }

  &.header {
    .row {
      min-height: $header_height;
      justify-content: center;
      align-items: center;
      text-align: center;
      h1 {
        color: $color_white;
        text-transform: uppercase;
        font-size: 60px;
        @include responsive.device-max('lg') {
          font-size: 40px;
        }

        @include responsive.device-max('sm') {
          font-size: 30px;
        }
      }
    }
  }

  &.content {
    background-color: #f4f5fe;
    position: relative;
    .row {
      min-height: 100vh - $header_height;
      align-items: center;
    }

    p {
      margin-bottom: 16px;
      color: $color_dark;
      font-size: 18px;

      strong,
      a {
        color: #b21318;
      }
    }

    p + h3,
    ul + h3 {
      margin-top: 24px;
    }

    ul {
      margin-left: 36px;
      li {
        font-size: 16px;
      }
    }
  }
}
