@use '/styles/responsive/_devicesMixins.scss' as responsive;

$color_primary: #d71a20;

.cardModal {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;

  @include responsive.device-max('md') {
    min-width: unset;
    max-height: 95vh;
    margin-bottom: 0;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }
  :global(.btn-close) {
    z-index: 1;
  }

  .cardImage {
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 55%;
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.3)),
      url('../../../../public/img/intro/ms-banner.webp');
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center top;
    position: relative;
    @include responsive.device-max('md') {
      padding-bottom: 35%;
      background-position: center top;
      background-size: cover;
    }
  }

  .cardHeading {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    line-height: 0.8em;
    text-align: center;
    width: 100%;
    @include responsive.device-max('md') {
      font-size: 24px;
      top: 22%;
    }

    small {
      display: block;
      font-size: 20px;
      font-weight: 400;
      margin-top: 0.25em;
      @include responsive.device-max('md') {
        font-size: 16px;
      }
    }
  }

  .cardForm {
    padding: 2rem 1rem 0;
    @include responsive.device-max('md') {
      padding: 0;
    }
  }

  .action {
    margin-top: 2rem;
  }

  input,
  textarea {
    box-shadow:
      rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    padding: 20px !important;
    min-height: 62px;
    font-size: 14px;
    letter-spacing: 2.625px;
    border: 0;
    border-radius: 8px;
    touch-action: manipulation;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin-bottom: 10px;
    color: #15111e;
    @include responsive.device-max('md') {
      font-size: 16px !important;
    }
    &::placeholder {
      text-transform: uppercase;
      font-size: inherit;
      color: inherit;
    }
  }

  .actionButton {
    font: inherit;
    font-size: 18px;
    padding: 0.5em 1em;
    width: 100%;
    font-weight: 500;
    background-color: $color_primary;
    border-radius: 6px;
    color: #fff;
    border: 0;

    &:focus {
      outline: 0;
    }
  }

  .cardInfo {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
    justify-content: center;
    p {
      font-size: 14px;
      line-height: 1.1em;
      @include responsive.device-max('md') {
        font-size: 12px;
      }
      a {
        color: $color_primary;
        text-decoration: none;
        font-size: inherit;
        line-height: inherit;
        margin-left: 2px;
      }
    }
  }

  .success,
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    p {
      margin-bottom: 16px;
    }
    svg {
      height: 80px;
      width: 80px;
      color: #20a286 !important;
      &.danger {
        color: $color_primary !important;
      }
    }
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0.8;
    top: 100%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0.8;
    top: 100%;
  }
}

.modalDialog {
  animation: modalFadeIn 0.6s ease-in-out;
  @include responsive.device-max('md') {
    display: flex;
    align-items: flex-end;
  }
  &.isExiting {
    animation: modalFadeOut 0.6s ease-in-out;
  }
}
