@use '/styles/responsive/_devicesMixins.scss' as responsive;

.cardModal {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;

  @include responsive.device-max('md') {
    min-width: unset;
    max-height: 90vh;
    margin-bottom: 0;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }
  :global(.btn-close) {
    z-index: 1;
  }

  .cardImage {
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 55%;
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.3)),
      url('../../../../public/img/intro/ms-banner.webp');
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center top;
    position: relative;
    @include responsive.device-max('md') {
      padding-bottom: 45%;
      background-position: center top;
      background-size: cover;
    }
  }

  .cardHeading {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    line-height: 0.8em;
    text-align: center;
    width: 100%;
    @include responsive.device-max('md') {
      font-size: 28px;
      top: 18%;
    }

    small {
      display: block;
      font-size: 20px;
      font-weight: 400;
      margin-top: 0.25em;
      @include responsive.device-max('md') {
        font-size: 18px;
      }
    }
  }

  .cardForm {
    padding: 2rem 1rem 0;
  }

  .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
    input,
    textarea {
      width: 100%;
      border-radius: 10px;
      padding: 30px 25px;
      background-color: transparent;
      border: none;
      font-size: 18px;
      color: #15111e;
      letter-spacing: 0px;
      box-shadow:
        rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      &:focus {
        outline: none;
      }
    }

    input {
      height: 60px;
      @include responsive.device-max('md') {
        height: 48px;
      }
    }
  }

  .inputLabel {
    color: #8597a3;
    position: absolute;
    top: 40%;
    left: 20px;
    transition: 0.25s ease;
    font-size: 18px;
    @include responsive.device-max('md') {
      font-size: 16px;
    }
  }

  .inputField {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 18px;
    padding: 0.25rem 0;
    @include responsive.device-max('md') {
      font-size: 16px !important;
    }

    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      outline: 0;
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
      & + .inputLabel {
        color: #15111e;
        top: 14px;
        left: 12px;
        font-size: 13px;
        @include responsive.device-max('md') {
          font-size: 11px;
        }
      }
    }
  }

  .action {
    margin-top: 2rem;
  }

  .actionButton {
    font: inherit;
    font-size: 18px;
    padding: 0.5em 1em;
    width: 100%;
    font-weight: 500;
    background-color: #d71a20;
    border-radius: 6px;
    color: #fff;
    border: 0;

    &:focus {
      outline: 0;
    }
  }

  .cardInfo {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
    justify-content: center;
    p {
      font-size: 14px;
      line-height: 1.1em;
      a {
        color: #d71a20;
        text-decoration: none;
        font-size: inherit;
        line-height: inherit;
        margin-left: 2px;
      }
    }
  }

  .success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    svg {
      height: 80px;
      width: 80px;
      color: #20a286 !important;
    }
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0.8;
    top: 100%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0.8;
    top: 100%;
  }
}

.modalDialog {
  animation: modalFadeIn 0.6s ease-in-out;
  @include responsive.device-max('md') {
    display: flex;
    align-items: flex-end;
  }
  &.isExiting {
    animation: modalFadeOut 0.6s ease-in-out;
  }
}
