@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;

$font-family_1:
  'Varela Round',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

.form-signup {
  input,
  textarea {
    box-shadow: 0 3.28px 3.28px 0 rgba(0, 0, 0, 0.1) !important;
    padding: 20px !important;
    min-height: 62px;
    font-family: $font-family_1;
    font-size: 14px;
    letter-spacing: 2.625px;
    border: 0;
    border-radius: 8px;
    touch-action: manipulation;
    @include responsive.device-max('md') {
      font-size: 16px !important;
    }
    &::placeholder {
      text-transform: uppercase;
      font-size: inherit;
    }
  }

  .disclaimer {
    font-size: 12px;
    display: block;
    max-width: 47%;
    text-align: center;
    margin: 8px auto;
    color: #ffffffaf;
    @include responsive.device-max('sm') {
      max-width: 100%;
    }
  }
}

.button {
  @include button.mainButton();

  svg {
    transform: scale(1.4);
    margin-left: 8px;
    margin-bottom: 5px;
  }
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    h3 {
      color: inherit;
    }
    svg {
      height: 80px;
      width: 80px;
      color: #20a286 !important;
    }
  }