@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;
@use '/styles/mixins/animations' as animation;

$color_1: #33303a;
$color_2: #15111e;
$color_3: #ea4343;
$color_4: #aaa6b2;
$color_5: #f52225;
$color_6: #3a00ff;
$font-family_1: 'Josefin Sans', sans-serif;
$font-family_2: 'Open Sans', sans-serif;
$background-color_1: #fff;
$background-color_2: #3c3c3c;

.basic_section {
  background-color: #f4f5fe;
  position: relative;
}

.contact {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  position: relative;

  @include responsive.device-max('md') {
    padding: 50px 20px;
    .container {
      padding: 0;
    }
  }

  .title {
    text-align: center;
    @include animation.slideInUpInViewport();

    span {
      font-size: 24px;
      font-family: 'Josefin Sans', sans-serif;
      color: #d71a20;
      font-weight: 700;
      letter-spacing: -0.2px;
      display: inline-block;
      margin-bottom: 5px;
    }

    h3 {
      font-size: 60px;
      font-weight: 700;
      letter-spacing: -0.2px;
      line-height: 1.3;
      color: #15111e;
    }

    p {
      margin-top: 32px;
    }

    @include responsive.device-max('md') {
      span {
        font-size: 24px;
      }

      h3 {
        font-size: 33px;
      }
    }
  }
  .contact_inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .left {
    flex: 1;
    padding-left: 0;
    .text {
      margin-bottom: 38px;
      @include animation.slideInUpInViewport();
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
        .list_inner {
          position: relative;
        }
        span {
          font-family: $font-family_1;
          font-size: 18px;
          font-weight: 700;
          color: $color_2;
          letter-spacing: -0.2px;
        }
        a {
          text-decoration: none;
          color: $color_3;
          display: block;
          &.phone {
            font-size: 30px;
            font-weight: 700;
            color: $color_3;
            letter-spacing: -0.2px;
            font-family: 'Josefin Sans';
          }
        }
      }
    }
  }
  .right {
    flex: 1;
    .fields {
      width: 100%;
    }
    .input_list {
      width: 100%;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          margin-bottom: 18px;
          input {
            width: 100%;
            height: 60px;
            border-radius: 10px;
            padding: 25px;
            background-color: $background-color_1;
            box-shadow: 13px 13px 21px rgba(131, 4, 4, 0.05);
            border: none;
            font-family: $font-family_2;
            font-size: 18px;
            color: $color_4;
            letter-spacing: 0px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
  .message_area {
    textarea {
      width: 100%;
      height: 60px;
      border-radius: 10px;
      padding: 25px;
      background-color: $background-color_1;
      box-shadow: 13px 13px 21px rgba(131, 4, 4, 0.05);
      border: none;
      font-family: $font-family_2;
      font-size: 18px;
      color: $color_4;
      letter-spacing: 0px;
      height: 230px;
      resize: none;
      &:focus {
        outline: none;
      }
    }
    margin-bottom: 10px;
  }
  .empty_notice {
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;
    color: $color_5;
  }
  .contact_error {
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;
    color: $color_5;
  }
  .returnmessage {
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;
    color: $color_6;
  }

  .button {
    @include button.mainButton();

    svg {
      margin-left: 8px;
      transform: translateY(2px);
      height: 20px;
      width: 20px;
    }
    span {
      color: inherit !important;
    }
  }

  @include responsive.device-max('md') {
    .left {
      ul {
        li {
          h3 {
            font-size: 25px;
          }
        }
      }
    }
  }

  @include responsive.device-max('sm') {
    .contact_inner {
      flex-direction: column;
      align-items: baseline;
    }
    .left {
      padding-right: 0;
      margin-bottom: 50px;
    }
    .right {
      margin-top: 30px;
      .input_list {
        ul {
          li {
            input {
              height: 50px;
            }
          }
        }
      }
    }
    .message_area {
      textarea {
        height: 200px;
      }
    }
  }
}
