@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;

$color_white: #fff;
$font-family_1: Roboto, 'Helvetica Neue';

.form-signup {
  input,
  textarea {
    box-shadow: 0 3.28px 3.28px 0 rgba(0, 0, 0, 0.1) !important;
    padding: 20px !important;
    min-height: 62px;
    font-family: $font-family_1;
    font-size: 14px;
    letter-spacing: 2.625px;
    border: 0;
    border-radius: 8px;
    touch-action: manipulation;
    @include responsive.device-max('md') {
      font-size: 16px !important;
    }
    &::placeholder {
      text-transform: uppercase;
      font-size: inherit;
    }
  }

  .disclaimer {
    font-size: 13px;
    display: block;
    text-align: center;
    margin: 8px auto;
    margin-bottom: 24px;
    color: $color_white;
    line-height: 1.2em;
    @include responsive.device-max('sm') {
      max-width: 100%;
    }
  }
}

.button {
  @include button.mainButton();

  svg {
    transform: scale(1.4);
    margin-left: 8px;
    margin-bottom: 5px;
  }
}

.animate-slide-in {
  transform: translateY(100%);
  animation: slideIn 0.8s forwards;
  animation-delay: 1s;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #15111e;
  text-align: center;
  h3, p {
    color: $color_white;

  }

  svg {
    height: 80px;
    width: 80px;
    color: #20a286 !important;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
