@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;

.page404 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #15111e;
  color: #fff;

  h1 {
    font-size: 60px;
    color: #d71a20;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 1rem;
    color: #fff;
  }

  p {
    font-size: 18px;
    color: #a3a3a3;
  }

  .button {
    @include button.mainButton();
  }
}
