@use '/styles/responsive/_devicesMixins.scss' as responsive;
.page404 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #15111e;
  color: #fff;

  h1 {
    font-size: 60px;
    color: #d71a20;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 1rem;
    color: #fff;
  }

  p {
    font-size: 18px;
    color: #a3a3a3;
  }

  .button {
    cursor: pointer;
    margin-top: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    display: inline-block;
    background-color: #d71a20;
    position: relative;
    padding: 15px 40px;
    border-radius: 6px;
    border: 2px solid #d71a20;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    svg {
      transform: scale(1.4);
      margin-left: 8px;
      margin-bottom: 5px;
    }
    @include responsive.device-max('sm') {
      font-size: 16px;
    }

    &:hover,
    &:active,
    &:focus-visible {
      background-color: #d71a204f !important;
      border-color: #d71a20 !important;
    }

    &:focus {
      outline: 1px dashed #fff;
      outline-offset: 3px;
    }
  }
}
