@use '/styles/responsive/_devicesMixins.scss' as responsive;
@use '/styles/mixins/buttonMixins' as button;

$color-white: #fff;
$color_dark: #15111e;
$color_red: #d71a20;

.swiper {
  height: 100vh;
  @include responsive.device-max('md') {
    height: 100svh;
  }
}

.main-slider-one {
  position: fixed;
  width: 100vw;
  display: block;

  // h1 {
  //   color: transparent;
  //   height: 0;
  // }

  .image-layer {
    background-color: $color-dark;
    position: absolute;
    transition: transform 7500ms ease;
    z-index: 1;
    object-fit: contain;

    video {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      opacity: 0.7;
      @include responsive.device-max('md') {
        height: 100svh;
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(var(--thm-black-rgb), 0.6);
      z-index: -1;
    }
  }

  .shape1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-80px);
    transition: all 1200ms ease;
    z-index: 1;
    height: inherit;
    display: inline;
    display: none; // play around

    img {
      height: inherit;
      width: 50vw;
      object-fit: 100%;
    }
  }

  .container {
    padding: 0 20px;
  }
  .main-slider-one__content {
    position: relative;
    display: block;
    z-index: 3;
    text-align: center;
    width: 100%;

    h2,
    h3 {
      color: $color-white;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1em;
      letter-spacing: -0.03em;
      transition: all 1000ms ease;
      z-index: 5;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 110px;
      transition-duration: 1500ms;
      color: $color_red;
      mask-image: linear-gradient(to bottom, white 60%, transparent);
      animation: textRoll 1.5s forwards;

      @include responsive.device-max('lg') {
        font-size: 75px;
      }

      @include responsive.device-max('sm') {
        white-space: unset;
        font-size: 48px;
      }
    }

    h3 {
      font-size: 60px;
      opacity: 0;
      transform: translateY(80px);
      @include responsive.device-max('lg') {
        font-size: 40px;
      }

      @include responsive.device-max('sm') {
        font-size: 30px;
      }
    }

    .btn-box {
      display: flex;
      align-items: center;
      margin-top: 42px;
      opacity: 0;
      transform: translateY(80px);
      transition: all 1500ms ease;
      z-index: 5;
    }
  }

  .main-slider-one__single {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    z-index: 1;
    @include responsive.device-max('md') {
      height: 100svh;
    }
  }

  .main-slider-one__icon {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid rgba(var(--thm-white-rgb), 0.4);
      background: rgba(4, 23, 26, 0.4);
      font-size: 18px;
      font-weight: 700;
      color: var(--thm-primary);
    }

    span {
      margin-left: 20px;
      font-size: 16px;
      color: $color-white;
    }
  }
}

// Swiper active states
.main-slider.main-slider-one :global([class*='swiper-slide-active']) {
  .image-layer {
    transform: scale(1.07);
  }

  .shape1 {
    opacity: 1;
    transform: translateX(0) scaleX(1);
    filter: blur(0);
    transition-delay: 300ms;
  }

  .main-slider-one__content {
    h3 {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 900ms;
    }

    .btn-box {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 1500ms;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main-slider-one {
    .shape1 {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-slider-one .shape1 {
    display: none;
  }

  .main-slider-one__content {
    .btn-box {
      display: block;
      text-align: center;
    }
  }

  .main-slider__nav {
    display: none;
  }
}

.button_down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: 0;

  svg {
    width: 45px !important;
    height: 45px !important;

    :global(#wheel) {
      animation: scroll 2s ease infinite;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(60px);
  }
}

@keyframes textRoll {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.button {
  @include button.mainButton();
  svg {
    transform: scale(1.4);
    margin-left: 8px;
    margin-bottom: 5px;
  }
}
